div .cat-bar{
    position: sticky;
    z-index: 0;
}
.cat-bar{
    height: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(232, 151, 65);
    color: white;
    
}
span{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.sweet:hover{
    color:rgba(230, 224, 224, 0.926);
}
.savoury-snacks:hover{
    color:rgba(230, 224, 224, 0.926);
}
.pickles:hover{
    color:rgba(230, 224, 224, 0.926);
}